@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 231, 69%, 22%, 1;
    --secondary: 43, 100%, 62%, 1;
    --blue: 221, 83%, 53%, 1;
    --gray: 215, 16%, 46%, 1;
    --light: 210, 20%, 98%, 1;
    --gray-light: 0, 0%, 80%, 1;
  }
}
